body {
    background: hsl(240, 8%, 3%);
    margin: 0px;
    font-family: Rubik;
}
.card {
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.card > .title.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card > .title.container > .title:not(.container) {
    overflow: hidden;
    max-height: 40px;
    flex: 1;
}
.heart {
    font-family: Arial;
    color: #a0a0a0;
    font-size: 20px;
    font-weight: 600;
}
.lang-welcome {
    margin: 0px;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 40px;
}
.img {
    height: 26px;
}
.yeah {
    color: #ff9152;
    animation: heartbeat 1s ease forwards infinite;
}
@keyframes heartbeat {
    0% {
        font-size: 40px;
        color: #ff5e52;
    }
    70% {

        font-size: 20px;
        color: #ffa36e;
    }
    100% {
        font-size: 40px;
        color: #ff483b;
    }
}
p {
    color: #a0a0a0;
    font-size: 18px;
    text-align: center;
}
p > .small {
    font-size: 6px;
}
p > .stroke {
    color: #b9b9b9;
}
.symbol {
    height: 18px;
    width: 18px;
    padding: 2px;
    border-radius: 4px;
}
.symbol > svg {
    height: 100%;
    fill: #FFFFFF;
}
.symbol:hover {
    background: hsl(240, 7%, 14%);
}
.card > .content.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.made-by {
    font-size: 12px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #4e4e4e;
}
.made-by > .highlight {
    color: #797979;
}
