/* body {
    background: hsl(0, 0%, 7%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}
.game--container {
    width: 100%;
    height: 100%;
}
.game--main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.stats--wrapper {
    width: 100%;
}
.stats--inner {
    color: #FFFFFF;
}
.board--wrapper {
    flex: 1;
}
.board--inner {
    color: #cecece;
    display: flex;
    position: relative;
}
.train {
    display: flex;
    gap: 2px;
    position: absolute;
}
.train > .car {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.train > .car-divider:last-of-type {
    display: none;
}
.train > .car-divider > .content::after {
    content: "+";
} */
:root {
    --status-error: #ff4848;
    --status-success: #73ff67;
    --status-warn: #ffb84d;
    --primary: hsl(236, 0%, 84%);
    --shade: hwb(240 71% 27%);
    --gray: hsl(236, 0%, 50%);
    
    --white: hsl(236, 0%, 90%);
    --icon-size: 17px;
    --gap-inner: 1px;
    --gap-outer: 3px;
    --grid-size: 600px;
    --cell-size: calc(((var(--grid-size) - var(--gap-inner) * 6 - var(--gap-outer) * 2) / 9));
}
body {
    background: hsl(0, 0%, 7%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    margin: 0px;
}
.c-primary {
    color: var(--primary);
}
.c-gray {
    color: var(--gray);
}
.c-shade {
    color: var(--shade);
}
.c-white {
    color: var(--white);
}
.flex {
    display: flex;
}
.column {flex-direction: column;}
.x-center {justify-content: center;}
.y-center {align-items: center;}
.font-light {font-weight: 300;}
.font-normal {font-weight: 500;}
.font-bold {font-weight: 700;}
.grid:not(.outer) {
    background: hsl(0, 0%, 20%);
    gap: var(--gap-inner);
}
.grid.outer {
    background: hsl(0, 0%, 30%);
    gap: var(--gap-outer);
    flex-wrap: wrap;
    padding: var(--gap-outer);
    max-width: var(--grid-size);
    border-radius: 2px;
}
.row {gap: var(--gap-inner);}
.col {
    background: hsl(0, 0%, 7%);
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 20px;
    color: #FFFFFF;
    transition: background 0.2s ease;
    /* border-radius: 6px; */
}
.col.marked {
    background: hsl(27, 100%, 68%);
    color: #000000;
    /* border-radius: 6px; */
}
.col.init:not(.marked) {color: #b8b8b8;}
input.grid-customize {
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: transparent;
}
.game.container > div {gap: 40px;align-items: flex-end;}
.nums.container {gap: 10px;width: 280px;height: 180px;}
.num-row {gap: 10px;flex: 1;}
button {
    background: hsl(0, 0%, 14%);
    border-radius: 4px;
    flex: 1;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}
button:hover {background: hsl(0, 0%, 18%);}
[on_edit] {
    color: hsl(27, 100%, 68%);
}
/* @media(width<800px) {
    .game.container {flex-direction: column;}
}; */
