:root {
    --status-error: #ff4848;
    --status-success: #73ff67;
    --status-warn: #ffb84d;
    --primary: hsl(236, 0%, 74%);
    --shade: hsl(236, 2%, 62%);
    --gray: hsl(236, 0%, 40%);
    
    --white: hsl(236, 0%, 90%);
}
body {
    background: hsl(236, 6%, 11%);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
p {
    margin: 0px;
}
.c-primary {
    color: var(--primary);
}
.c-gray {
    color: var(--gray);
}
.c-shade {
    color: var(--shade);
}
.c-white {
    color: var(--white);
}
.cg-centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.font-light {font-weight: 300;}
.font-normal {font-weight: 500;}
.font-bold {font-weight: 700;}
#system-feedback--item-container {
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 600px;
    overflow: hidden;
    z-index: 999999;
}
.popup-bg {background: hsl(236, 6%, 8%);}
.border {border-radius: 4px;}
.s-feedback--container {display: flex;width: 400px;height: 50px;align-items: center;gap: 10px;padding: 6px;transform: translateX(100%);opacity: 0;}
.s-feedback--container > .type {background: #ff4949;min-width: 5px;height: 100%;border-radius: 360px;}
.s-feedback--container[type="error"] > .type {background: var(--status-error);}
.s-feedback--container[type="success"] > .type {background: var(--status-success);}
.s-feedback--container[type="warn"] > .type {background: var(--status-warn);}
.s-feedback--container > .content.container {display: flex;flex-direction: column;align-items: flex-start;justify-content: center;gap: 2px;}
.s-feedback--container > .content.container > p {margin: 0px;}
.s-feedback--container > .content.container > * {font-size: 14px;text-align: left;}
