:root {
    --popup-elements-button-hover-background: hsl(240, 7%, 16%);
    --popup-elements-button-fill: #FFFFFF;
    --status-error: #ff4848;
    --status-success: #73ff67;
    --status-warn: #ffb84d;
}
body {
    background: hsl(240, 10%, 10%);
    margin: 0px;
    font-family: Rubik;
}
.card {
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.card > .title.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card > .title.container > .title:not(.container) {
    overflow: hidden;
    width: 100%;
    max-height: 40px;
    flex: 1;
}
.heart {
    font-family: Arial;
    color: #a0a0a0;
    font-size: 20px;
    font-weight: 600;
}
.lang-welcome {
    margin: 0px;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    word-break: keep-all;
    width: 300px;
    height: 40px;
}
.img {
    height: 26px;
}
.yeah {
    color: #ff9152;
    animation: heartbeat 1s ease forwards infinite;
}
@keyframes heartbeat {
    0% {
        font-size: 40px;
        color: #ff5e52;
    }
    70% {

        font-size: 20px;
        color: #ffa36e;
    }
    100% {
        font-size: 40px;
        color: #ff483b;
    }
}
p {
    color: #a0a0a0;
    font-size: 16px;
    text-align: center;
}
p > .small {
    font-size: 8px;
}
p > .stroke {
    color: #b9b9b9;
}
.symbol {
    height: 18px;
    width: 18px;
    padding: 2px;
    border-radius: 4px;
}
.symbol > svg {
    height: 100%;
    fill: #FFFFFF;
}
.symbol:hover {
    background: hsl(240, 8%, 26%);
}
.card > .content.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.login {
    background: hsl(133, 38%, 32%);
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #FFFFFF;
    border-radius: 4px;
}
.login > .icon > svg {
    height: 18px;
    fill: #FFFFFF;
}
.navbar {
    position: absolute;
    top: 0px;
    padding: 6px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
}
.made-by {
    font-size: 12px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    color: #4e4e4e;
}
.highlight {
    color: #797979;
}
.action-navigator {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action-navigator > .item {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.action-navigator > .item:hover::before,
.action-navigator > .item[full]::before {
    height: 0px;
}
.action-navigator > .item::before,
.action-navigator > .item::after {
    content: "";
    background: hsl(240, 10%, 10%);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    z-index: -1;
    transition: height 0.1s;
    opacity: 0.8;
}
.action-navigator > .item::after {
    background: linear-gradient(.25turn, #ff3232, #ff934b);
    padding: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.action-navigator > .item[full]::after {background: linear-gradient(.90turn, #ff3232, #ff934b);}
.action-navigator > .item > .content.container > p {
    margin: 0px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.popup:not(.container) {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity linear 0.16s;
}
.popup:not(.container)::after {
    content: "";
    background: hsl(240, 8%, 2%);
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}
.popup > .popup.container {
    background: hsl(240, 7%, 11%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    max-width: 360px;
    gap: 20px;
    border-radius: 6px;
    word-wrap: break-word;
    transform: translate(-50%, -50%)
               scale(0.9);
    transition: transform 0.16s;
}
.popup > .popup.container > .title.container {
    display: flex;
    justify-content: center;
}
.popup > .popup.container > .content.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    gap: 20px;
}
.popup > .popup.container > .content.container > p {margin: 0px; font-size: 14px; color: #b9b9b9;}
.popup > .popup.container > .content.container > .action-navigator > .item {padding: 6px 12px;}
.popup > .popup.container > .content.container > .action-navigator > .item::before {background: hsl(240, 7%, 11%);}
.popup > .popup.container > .content.container > .action-navigator > .item::after {background: linear-gradient(.25turn, #3150ff, #9940ff);}
.popup.container > ui-element-close {
    position: absolute;
    right: 6px;
    top: 6px;
}
ui-element-close {
    background: none;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--popup-elements-button-fill);
    border-radius: 4px;
}
ui-element-close > svg {height: 18px;}
#system-feedback {
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 600px;
    overflow: hidden;
    z-index: 999999;
}
.feedback {
    background: hsl(240, 10%, 7%);
    width: 360px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    transform: translateX(100%);
    opacity: 0;
}
.feedback > .feedback-type {
    background: #ff4949;
    min-width: 5px;
    height: 100%;
    border-radius: 360px;
}
.feedback[type="error"] > .feedback-type {background: var(--status-error);}
.feedback[type="success"] > .feedback-type {background: var(--status-success);}
.feedback[type="warn"] > .feedback-type {background: var(--status-warn);}
.feedback > .content.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}
.feedback > .content.container > p {margin: 0px;}
.feedback > .content.container > .title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}
.feedback > .content.container > .data {
    color: #a0a0a0;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.feedback > .icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.feedback > .icon > svg {
    fill: #FFFFFF;
    height: 18px;
}
.feedback[type="error"] > .icon > svg {fill: var(--status-error);}
.feedback[type="success"] > .icon > svg {fill: var(--status-success);}
.feedback[type="warn"] > .icon > svg {fill: var(--status-warn);}
