:root {
    --icon-size: 17px;
    --gap-inner: 1px;
    --gap-outer: 4px;
    --grid-size: 600px;
    --cell-size: calc(((var(--grid-size) - var(--gap-inner) * 6 - var(--gap-outer) * 2) / 9));
}
body {
    background: var(--body-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#made-by {color: var(--madeby-color);}
p {
    margin: 0px;
}
.flex {
    display: flex;
}
.column {flex-direction: column;}
.x-center {justify-content: center;}
.y-center {align-items: center;}
.font-light {font-weight: 300;}
.font-normal {font-weight: 500;}
.font-bold {font-weight: 700;}
#system-feedback--item-container {
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 400px;
    overflow: hidden;
    z-index: 999999;
}
.popup-bg {background: var(--popupslide-background);}
.border {border-radius: 4px;}
.s-feedback--container {display: flex;width:calc(100% - 12px);min-height: 50px;align-items: center;gap: 10px;padding: 6px;transform: translateX(100%);opacity: 0;}
.s-feedback--container > .type {background: #ff4949;min-width: 5px;height: 100%;border-radius: 360px;}
.s-feedback--container[type="error"] > .type {background: var(--status-error);}
.s-feedback--container[type="success"] > .type {background: var(--status-success);}
.s-feedback--container[type="warn"] > .type {background: var(--status-warn);}
.s-feedback--container > .content.container {display: flex;flex-direction: column;align-items: flex-start;justify-content: center;gap: 2px;}
.s-feedback--container > .content.container > p {margin: 0px;}
.s-feedback--container > .content.container > p.title {color: var(--popupslide-title-color);}
.s-feedback--container > .content.container > p.data {color: var(--popupslide-data-color);}
.s-feedback--container > .content.container > * {font-size: 14px;text-align: left;}
.w-100 {width: 100%;}
.h-100 {height: 100%;}
.page-center {left: 50%; top: 50%; transform: translate(-50%, -50%);}
.absolute {position: absolute;}
.shadow--default {background: var(--shadow-background); left: 0%; top: 0%;}
.popup--container {
    opacity: 0;
    transition: opacity linear 0.12s;
}
.popup--main {
    background: var(--popup-background);
    border-radius: 4px;
    padding: 16px 14px;
    gap: 10px;
    width: calc(100% - 60px);
    max-width: 500px;
    transform: translate(-50%, -50%)
               scale(0.9);
    transition: transform linear 0.14s;
}
.no-background {background: none;}
.no-border {border: none;}
.close-interaction-svg--container {
    width: min-content;
    height: min-content;
    padding: 2px;
    border-radius: 2px;
}
.close-interaction-svg--container:hover {
    background: var(--popup-close-svg-hover-background);
}
.close-interaction-svg--container > svg {height: var(--icon-size); fill: var(--popup-close-svg-fill);}
.popup--main-title {font-size: 20px;color: var(--popup-title-color);flex: 1;}
.popup--main > main > p {
    font-size: 16px;
    color: var(--popup-data-color);
}
*:not(.custom-transition) {
    transition: background ease 0.1s;
}
.grid:not(.outer) {
    background: var(--grid-inner-background);
    gap: var(--gap-inner);
}
.grid.outer {
    background: var(--grid-outer-background);
    gap: var(--gap-outer);
    flex-wrap: wrap;
    padding: var(--gap-outer);
    max-width: var(--grid-size);
    border-radius: 4px;
}
.row {gap: var(--gap-inner);}
.col {
    background: var(--col-background);
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 32px;
    color: var(--col-color);
    transition: background 0.1s ease;
}
.col.marked:not(.coll):not(.hidden) {
    background: var(--col-marked-background);
    color: var(--col-marked-color);
}
.col.init:not(.marked):not(.coll):not(.hidden) {background: var(--col-init-background); color: var(--col-init-color);}
.col.colliding:not(.hidden) {
    background: hsl(0, 100%, 66%);
    color: #000000;
}
.col.hidden {
    background: var(--col-hidden-background);
    color: transparent;
}
input.grid-customize {
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: transparent;
}
.game.container > div {gap: 60px; align-items: flex-end;}
.tools.container {
    width: 300px;
    gap: 30px;
}
.tools.container > .group {flex: 1;}
.tools.container > *, .tools.container > .group > .tool {flex: 1;}
.tools.container > .group {order: -1; gap: 10px;}
.tools.container > .group > .tool > * {
    background: var(--tool-background);
    border: 1px solid var(--tool-border);
    border-radius: 6px;
    flex: 1;
    padding: 10px 0px;
    color: var(--tool-color);
}
.tools.container > .group > .tool > button:hover {background: var(--tool-hover-background);}
.tools.container > .group > .tool > * > div {
    padding: 0px 16px;
}
svg[show="paused"], svg[show="playing"] {display: none;}
.timer-state-icon[state="paused"] > svg[show="paused"] {display: flex;}
.timer-state-icon[state="playing"] > svg[show="playing"] {display: flex;}
.timer.content {font-size: 16px;}

svg {
    fill: var(--tool-svg-fill);
}

.nums.container {gap: 10px; height: 190px; flex: 1;}
.num-row {gap: 10px;flex: 1;}
button:not(.close-interaction-svg--container):not(.timer--wrapper):not(.icon) {
    background: var(--numpad-button-background);
    border: 1px solid var(--numpad-button-border);
    border-radius: 4px;
    flex: 1;
    outline: none;
    color: var(--numpad-button-color);
    font-size: 18px;
    cursor: pointer;
}
button:not(.close-interaction-svg--container):not(.timer--wrapper):not(.icon):hover {background: var(--numpad-button-hover-background);}
button {
    cursor: pointer;
}
input {
    background: var(--input-background);
    border: 1px solid var(--input-border);
    padding: 4px 6px;
    color: var(--input-color);
    text-align: center;
}
input:focus {
    outline: none;
}
.small-screen {display: none;}
.tools.container:first-of-type {display: none;}
header.site-header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid hsl(0, 0%, 20%);
}
header.site-header > .container {
    padding: 10px 20px;
}
a {
    font-size: 22px;
    text-decoration: none;
    color: var(--site-header-color);
}
.icon {
    background: var(--header-icon-background);
    padding: 6px 12px;
    border: 1px solid var(--header-icon-border);
    border-radius: 16px;
    cursor: pointer;
}
.icon:hover {
    background: var(--header-icon-hover-background);
}
.icon > svg {
    height: 20px;
    fill: var(--header-svg-fill);
}
@media(width<1044px) {
    .game.container > div {flex-direction: column; align-items: center;}
    #system-feedback--item-container {align-items: center; width: calc(100% - 60px); left: 50%; transform: translateX(-50%);}
    .nums.container {width: 260px; height: 120px;}
    .tools.container {width: 100%;}
    .small-screen {display: flex;}
    .default {display: none;}
    .tools.container:first-of-type {display: flex;}
    .game.container > div {gap: 20px;}
}
@media(width<800px) {
    :root {--grid-size: calc(100vw - 60px);}
    .tools.container > .group {gap: 6px;}
    header.site-header > .container {padding: 10px 30px;}
}
